[[source]]
name = "pypi-aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
kubernetes = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.7"
